/* Navigation bar */
body {margin: 0;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #000;
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
}

/* Navigation links */
.navbar a {
  font-family: "Strait", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: 500;
}

/* Change text color on hover */
.navbar a:hover {
  color: #99cc00;
}

/* Dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropbtn {
  font-family: "Strait", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  margin: 0;
  padding: 14px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

/* Change text color for dropdown button on hover */
.dropdown:hover .dropbtn {
  color: #99cc00;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #b9b9b9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change text color in dropdown on hover */
.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
